/*Dashboard Layout style*/

:root{
/* ==== colors === */   
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* ==== transitions === */ 

    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;

}

body{
    background-color: var(--body-color);
}


/* ==== sidebar  === */
.left-sidebar{
    min-height: 100vh;
}

.left-sidebar .left-sidebar-items .item-1:hover{
    background-color: var(--primary-color);
    color: white;
}
.left-sidebar .left-sidebar-items .item-1:hover .item-1-elt{
    color: white;
}
.left-sidebar .left-sidebar-items .item-1{
    position: relative;
}
.left-sidebar .left-sidebar-items .item-1 .item-1-elt span{
    font-size: 20px;
}

.left-sidebar .left-sidebar-items .item-1 a{
    text-decoration: none;
    color: var(--text-color);
}

.left-sidebar .left-sidebar-items .item-1 .btn{
    outline: none;
    color: var(--text-color);
}

.dropdown-menu{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



/* ==== Page content === */

.page-content{
    width:100%;
}

.row-starts{
    background-color: white;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.row-starts .card{
    padding: 10px 10px;
    margin: 10px ;
}

.top-navbar-row{
    background-color: var(--primary-color-light);
    height: 60px;
    display: flex;
    padding: 0px 10px;
}

.top-navbar-row ul{
    
    list-style: none;
}
.top-navbar-row .user-div img{
    width: 40px;
    height: 40px;

}
.user-div .uname{
    position: relative;
    top: 10px;
    right: 10px;
}
.user-div{
    position: relative;
    width: 240px;
    margin-left: auto;
}
.top-menu-toggle{
    text-align: right;
    height: 60px;
}
    .top-menu-toggle i{
    position: relative;
    font-size: 30px;
    top: 10px;
    text-align: right;

}

.user-div:hover .logout{
    display: block;
}
.user-div ul a{
    text-decoration: none;
    color: var(--text-color);
}
.user-div ul .logout{
    position: absolute;
    background-color: var(--body-color);
    left: 137px;
    top: 50px;
    padding: 5px 10px;
    display: none;

}

.row-starts i{
    width: 60px;
    height: 60px;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 2.5;
    border-radius: 50%

}
.row-starts .col-xl-3:nth-child(1) i{
    background-color: #fc5859;
}
.row-starts .col-xl-3:nth-child(2) i{
    background-color: #695cfe;
}
.row-starts .col-xl-3:nth-child(3) i{
    background-color: #fd9949 ;
}
.row-starts .col-xl-3:nth-child(4) i{
    background-color: #29ae39;
}

.row-starts .text{
    margin:10px 10px;
}
.row-starts .bar{
    width: 100%;
    height: 10px;
    border-radius: 10px;
}
.row-starts .col-xl-3:nth-child(1) .bar{

    background: linear-gradient(to right, #fc5859 0 60%, #303945 60% 100%);

}
.row-starts .col-xl-3:nth-child(2) .bar{

    background: linear-gradient(to right, #695cfe 0 60%, #303945 60% 100%);

}
.row-starts .col-xl-3:nth-child(3) .bar{

    background: linear-gradient(to right, #fd9949 0 60%, #303945 60% 100%);

}
.row-starts .col-xl-3:nth-child(4) .bar{

    background: linear-gradient(to right, #29ae39 0 60%, #303945 60% 100%);

}






/* Article registration form style*/

.bootstrap-tagsinput .tag {
    background: lightgray;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}
.bootstrap-tagsinput{
    height: 120px;
    width: 100%;
    padding: 10px;

}
.preview-image{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.preview-image img{
    width: 100%;
    height: 100%;
}
#new-category{
    display: none;
    transition: .4s;
}


/* Article listing page*/

.options{
    justify-content: space-between;
    margin: 0;
    padding: 0;
    display: none;

}

tr:hover .options{
    display: block;
}
.options a{
    text-decoration: none;
}
.options a:hover{
    text-decoration: underline;
}

/*Create new users*/

.preview-image-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.preview-image-profile img{
    border-radius: 50%;
}


/* -- Website navbar -- */
.webs-menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}



/* -- Website footer -- */
.category-list li{
    padding: 12px 0px;
    justify-content: space-between;
    border-bottom: 1px solid #303945;
}
/* -- Website footer -- */

.img-preview{
    position: relative;
    z-index: 0;
}
.img-preview a{
    position: absolute;
    right: 20px;
    font-size: 20px;
    visibility: hidden;
    z-index: 3;
    text-decoration: none;
    color: white;
    padding: 0px 3px;
    background-color: #303945;
}
.img-preview:hover a{
    visibility: visible;
}

.img-preview:hover:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.26);
    position: absolute;
    z-index: 2;
}


/* Website homepage*/

.homepage-section-1{
    margin-top: 60px;
}
.homepage-section-1 .carousel .carousel-inner{
    width: 100%;
    height: 70vh;
    position: relative;

}
.homepage-section-1 .carousel .carousel-caption{
    color: white;
}

.homepage-section-1 .carousel .carousel-inner::before{
    content: '';
    width: 100%;
    height: 98%;
    position: absolute;
    background-color: rgba(0, 0, 255, 0.479);
    z-index: 1;
}
.homepage-section-1  .carousel img{
    width: 100%;
    height: 68vh;
}
.carousel-caption{
    color: black;
}

/* Homepage causes*/
.cause-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cause-container .cause-image{
    height: 250px;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cause-container .cause-infos{
    height: 180px;
}
.cause-container .cause-infos .percentage{
    font-size: 26px;
}
.cause-container .cause-infos .progress-bar{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.cause-container .cause-infos .progress-bar p{
    width: 100%;
    height: 20px;
    background-color: #565861;
    position: relative;
}
.cause-container .cause-infos .progress-bar p span{
    height: 100%;
    width: var(--percentage);
    background-color: #5F5FFC;
    position: absolute;
    left: 0;
    animation: progressbar 1.8s;
    
}

.cause-container .cause-infos .title{
    height: 60px;
}
.cause-container .cause-infos .title h4{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cause-container .learn-more a{
    padding: 10px 15px;
    text-decoration: none;
    color: blue;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s, color .2s ease-in;
    margin-left: auto;
}
.cause-container .learn-more a:hover{
    background: blue;
    color: #FFF;   
}


@keyframes progressbar{
    0%{
        width: 0%;
    }
    100%{
        width: var(--percentage);
    }
}


/*Homepage our values*/
.our-values{
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1505455184862-554165e5f6ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.our-values::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 255, 0.534);
    z-index: 0;
    left: 0;
    bottom: 0;
}
.our-values .value{
    background-color: white;
    transition: 0.4s;
}

.our-values .value i{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.4s;
}
.our-values .value:hover{
    background-color: blue;
    color: white;
}
.our-values .value:hover i{
    background-color: white;
    color: blue;
}


/*latest articles*/

.article-container{
    transition: 0.3s ease-in;
    border: 1px solid darkgrey;
}
.article-container:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border: none;
}
.article-container .article-image{
    height: 250px;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.article-infos{
    height: 200px;
}
.article-container .title{
    height: 60px;
}
.article-container .title h4{
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-container .description{
    height: calc(100%-100px);
}
.article-container .description p{
    font-size: 16px;
    font-weight: 500;
    color: #565861;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-container .learn-more a{
    padding: 10px 15px;
    text-decoration: none;
    color: #565861;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s, color .2s ease-in;
    margin-left: auto;
}
.article-container .learn-more a:hover{
    color: blue;   
}


/* website footer*/


.footer-section-1{
    background-color: rgb(49, 49, 231);
    color: white;
}
.footer-section-1 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-section-1 h3{
    font-weight: 600;
}

.footer-section-1 ul li {
    padding: 2px 2px;
}

.footer-section-1 ul li a{
    color: white;
    text-decoration: none;
}
.footer-section-2 .icons{
    font-size: 20px;
}

/*Blog */

.page-title{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    margin-top: 58px;
    
}
.page-title::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: #0912277e;
    z-index: 1;
}