/*Dashboard Layout style*/

:root{
/* ==== colors === */   
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* ==== transitions === */ 

    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;

}

body{
    background-color: var(--body-color);
}


/* ==== sidebar  === */
.left-sidebar{
    min-height: 100vh;
}

.left-sidebar .left-sidebar-items .item-1:hover{
    background-color: var(--primary-color);
    color: white;
}
.left-sidebar .left-sidebar-items .item-1:hover .item-1-elt{
    color: white;
}
.left-sidebar .left-sidebar-items .item-1{
    position: relative;
}
.left-sidebar .left-sidebar-items .item-1 .item-1-elt span{
    font-size: 20px;
}

.left-sidebar .left-sidebar-items .item-1 a{
    text-decoration: none;
    color: var(--text-color);
}

.left-sidebar .left-sidebar-items .item-1 .btn{
    outline: none;
    color: var(--text-color);
}

.dropdown-menu{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



/* ==== Page content === */

.page-content{
    width:100%;
}

.row-starts{
    background-color: white;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.row-starts .card{
    padding: 10px 10px;
    margin: 10px ;
}

.top-navbar-row{
    background-color: var(--primary-color-light);
    height: 60px;
    display: flex;
    padding: 0px 10px;
}

.top-navbar-row ul{
    
    list-style: none;
}
.top-navbar-row .user-div img{
    width: 40px;
    height: 40px;

}
.user-div .uname{
    position: relative;
    top: 10px;
    right: 10px;
}
.user-div{
    position: relative;
    width: 240px;
    margin-left: auto;
}
.top-menu-toggle{
    text-align: right;
    height: 60px;
}
    .top-menu-toggle i{
    position: relative;
    font-size: 30px;
    top: 10px;
    text-align: right;

}

.user-div:hover .logout{
    display: block;
}
.user-div ul a{
    text-decoration: none;
    color: var(--text-color);
}
.user-div ul .logout{
    position: absolute;
    background-color: var(--body-color);
    left: 137px;
    top: 50px;
    padding: 5px 10px;
    display: none;

}

.row-starts i{
    width: 60px;
    height: 60px;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 2.5;
    border-radius: 50%

}
.row-starts .col-xl-3:nth-child(1) i{
    background-color: #fc5859;
}
.row-starts .col-xl-3:nth-child(2) i{
    background-color: #695cfe;
}
.row-starts .col-xl-3:nth-child(3) i{
    background-color: #fd9949 ;
}
.row-starts .col-xl-3:nth-child(4) i{
    background-color: #29ae39;
}

.row-starts .text{
    margin:10px 10px;
}
.row-starts .bar{
    width: 100%;
    height: 10px;
    border-radius: 10px;
}
.row-starts .col-xl-3:nth-child(1) .bar{

    background: linear-gradient(to right, #fc5859 0 60%, #303945 60% 100%);

}
.row-starts .col-xl-3:nth-child(2) .bar{

    background: linear-gradient(to right, #695cfe 0 60%, #303945 60% 100%);

}
.row-starts .col-xl-3:nth-child(3) .bar{

    background: linear-gradient(to right, #fd9949 0 60%, #303945 60% 100%);

}
.row-starts .col-xl-3:nth-child(4) .bar{

    background: linear-gradient(to right, #29ae39 0 60%, #303945 60% 100%);

}






/* Article registration form style*/

.bootstrap-tagsinput .tag {
    background: lightgray;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}
.bootstrap-tagsinput{
    height: 120px;
    width: 100%;
    padding: 10px;

}
.preview-image{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.preview-image img{
    width: 100%;
    height: 100%;
}
#new-category{
    display: none;
    transition: .4s;
}


/* Article listing page*/

.options{
    justify-content: space-between;
    margin: 0;
    padding: 0;
    display: none;

}

tr:hover .options{
    display: block;
}
.options a{
    text-decoration: none;
}
.options a:hover{
    text-decoration: underline;
}

/*Create new users*/

.preview-image-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.preview-image-profile img{
    border-radius: 50%;
}